{% extends "base.html" %}
{% block title %}Simple blog - Sobre mi{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="mt-4">Sobre mi</h1>
      <hr>
      <img class="img-fluid rounded" src="http://placehold.it/150x200" alt="">
      <hr>
      <p class="lead">Nuestra Historia</p>
        
        <p>Cuando fundamos Be Digital Trend, también nos preguntamos qué era una agencia de marketing
        digital. Y qué éramos nosotros. En un rubro como el nuestro, de cambios y transformaciones vertiginosas, estas
        preguntas se renuevan constantemente y aún nos inquietan y asombran. Hasta cierto punto, todavía hoy las estamos
        respondiendo junto a nuestros clientes. Con el tiempo y la experiencia llegamos a algunas conclusiones. Hoy
        creemos que una agencia de marketing digital desarrolla estrategias digitales integrales de acuerdo al tamaño de
        cada empresa. Siempre busca ampliar los horizontes comerciales y mejorar la comunicación. En gran medida, una
        agencia digital se ocupa de desarrollar una estrategia digital para transmitir el mensaje de una marca al
        público adecuado.</p>

        <p>Nuestro equipo Junto a un equipo multidisciplinario de jóvenes profesionales , creativos, innovadores y
        orientados a resultados, generamos casos de éxito a nuestros clientes. Nuestro grupo se compone de expertos en
        diferentes áreas tales como diseñadores gráficos, diseñadores web, publicistas, redactores seo, community
        managers, project managers, editores audiovisuales.</p>

        <p>Nuestro CEO Ivana Aranaz es experta en Marketing Digital. Es directora de marketing de
        varias empresas de latinoamerica, en las cuales implementó diferentes estrategias adaptadas a la diversidades de
        los escenarios económicos de los diferentes paises.</p>
      <hr>
    </div>
    {% endblock %}